{:blocks (
{:block/created-at 1749823591567
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "ai指令"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 9995.928022484019]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "604de5b0-4840-11f0-bc1b-07deb30109de"
:noFill false
:isLocked false
:point [168 424]
:parentId "684bfbf3-1b4d-4a8c-9b7f-8dc103e0b02a"
:collapsedHeight 9976.572265625
:nonce 1749810178367}}
:block/updated-at 1749823591567})
:pages (
{:block/uuid #uuid "684bfbf3-1b4d-4a8c-9b7f-8dc103e0b02a"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "684bfbf3-1b4d-4a8c-9b7f-8dc103e0b02a"
:name "684bfbf3-1b4d-4a8c-9b7f-8dc103e0b02a"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("604de5b0-4840-11f0-bc1b-07deb30109de")}}
:block/updated-at 1749823591567
:block/created-at 1749810163891
:block/type "whiteboard"
:block/name "684bfbf3-1b4d-4a8c-9b7f-8dc103e0b02a"
:block/original-name "684bfbf3-1b4d-4a8c-9b7f-8dc103e0b02a"})}