{:highlights [{:id #uuid "68d88ecc-fcc4-4aa8-abae-41ec3c3e2dce",
               :page 28,
               :position {:bounding {:x1 173.70866012573242,
                                     :y1 459.04168701171875,
                                     :x2 257.3566093444824,
                                     :y2 476.375,
                                     :width 714.3359999999999,
                                     :height 1010.2679999999999},
                          :rects ({:x1 173.70866012573242,
                                   :y1 459.04168701171875,
                                   :x2 257.3566093444824,
                                   :y2 476.375,
                                   :width 714.3359999999999,
                                   :height 1010.2679999999999}),
                          :page 28},
               :content {:text "化学信息学领域"},
               :properties {:color "yellow"}}],
 :extra {:page 29}}
